{% extends "layout.html.twig" %}

{% block content %}
    <div class="row" >
        <a href="{{ path('adherent_creerAdherent') }}">Ajouter un adhérent</a>
        <table border="2">
            <caption>Recapitulatif des Adherents</caption>
            <thead>
            <tr><th>nom</th><th>adresse</th><th>date de paiement</th><th>informations</th><th>opérations</th></tr>
            </thead>
            <tbody>
            {%  if adherents is not empty %}
                {% for adherent in adherents %}
                    <tr><td>
                            {{ adherent.nom }}
                        </td><td>
                            {{ adherent.adresse }}
                        </td><td>
                            {{ adherent.datePaiement | date('d/m/Y') }}
                        </td>
                        <td>
                            {% if adherent.nbrEmprunt > 0 %}
                                {{ adherent.nbrEmprunt }} emprunt(s) en cours<br>
                            {% endif %}

                            {% if adherent.nbrEmprunt > 0 and adherent.retard==1 %}
                                <strong style="background-color: red">/!\</strong><br>
                            {% endif %}

                            {% if adherent.retard==1 %}
                                <span style="color: red">paiement en retard depuis : {{ adherent.datePaiementFutur | date('d/m/Y') }}</span><br>
                            {% elseif adherent.retardProche==1 %}
                                <span style="color: green">paiement à renouveler</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('adherent_modifierAdherent', {id: adherent.id}) }}">modifier</a>
                            <a href="{{ path('adherent_supprimerAdherent', {id: adherent.id}) }}">supprimer</a></td>
                        {#  <a href="/adherent/modifieradherent/{{ adherent.id }}">Essai Modifier</a>  #}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td> pas d'adherents dans la base de données</td>
                </tr>
            {% endif %}
            <tbody>
        </table>
    </div>
{% endblock %}